.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.unitcontainer {

    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
    border-style:dotted;
}

.unit {
    border-style: none;
}

.active {
    background-color: grey;
}

#gen {
    width: 10vw;
    margin: 15px;
}